@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
/*Reset*/
* {margin:0; padding:0;}
ul {list-style: none;}
button {border: none; background: none; cursor: pointer;}
a {text-decoration: none; color: black;}

/*Region Navigation Page ========================================================*/
/*Header menu===================*/
/*Todo: 본인이 선택한 지역으로 이미지 변경*/
.bg {
    background: url('../img/kanghwadoMain.jpg') no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
    position: relative; 
    top: 0;
    left: 0; 
} 
.headerbar {
    width: 90vw; 
    min-width: 580px;
    height: 60px;
    background-color: lightgray;
    position: absolute; 
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);        
}
header>div {width: 120px;}
header>div a {display:block; width: 100%;}
header>div i {
    font-size: 40px; 
    color: rgb(22, 160, 133);
    padding: 5px 10px;
}
header>div p{
    display: flex;
    width: 80px;   
    font-size: 20px;
    font-weight: bold;
    position: absolute; 
    top: 20px;
    left: 35px;  
}
header>div p>span {color: white;}
header>button {
    position: absolute; 
    right: 20px;
    top: 40%;
    font-size: 10px;
}


/*main menu============*/
main { 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;    
}
main>div {
/*아이콘이 가운데 정렬이 맞지 않아서 div 기존에 있던 width 수정 및 margin-left 삭제. text-algin가운데정렬 넣음*/
    width: 100vw; 
    text-align: center; 
/*    
    width: 80px; 
    margin-left: 50%;*/
    
}
main>div>a {display: block; width: 100%;}
main>div i {
    font-size: 70px;
    color: rgb(22, 160, 133); 
    text-shadow: 2px 2px black;
    cursor: pointer;
    margin: 20px 0 ;
}
main>nav {width: 100vw;}
main>nav>ul {width: 100vw; display: flex; justify-content: center;}
/*main을 앞에 빼서 뒤에서도 사용할 수 있게 하도록 수정*/
nav>ul>li{
    padding: 6px 0;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    margin: 0 10px;     
}
nav>ul>li:nth-child(1){ 
    width: 220px;
    min-width: 150px; 
    background-color: rgb(142, 68, 173);}
nav>ul>li:nth-child(2){
    width: 100px; 
     min-width: 60px; 
    background-color: rgb(26, 188, 156);}
nav>ul>li:nth-child(3){
    width: 180px;
    min-width: 120px; 
    display: inline-block;
    justify-content: center;
    background-color: rgb(230, 126, 34)
}
nav>ul>li:nth-child(4){
    width: 150px;
    min-width: 90px; 
    display: inline-block;
    justify-content: center;
    background-color: rgb(52, 152, 219);
}
nav>ul>li>a{
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;        
}

/*dropdown bar===============================*/
#headerdropdown {
    position: absolute; 
    width: 90vw;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
#headerdropdown>button{
    position: absolute; 
    left: 50%;
    transform: translate(-50%);  
}

#headerdropdown>.headerbar {
    width: 90vw; 
    height: 50px; 
    left: 50%;
    position: relative; 
    display: none;
}
.open {
    visibility: visible;
}
#headerdropdown>.headerbar nav{
    position: absolute; 
    top: 6px; 
    left: 50%;
    transform: translate(-50%);
    width: 550px;
}
#headerdropdown>.headerbar nav div{
    width: 100px;  
    float: left; 
}
#headerdropdown>.headerbar nav div button{}
#headerdropdown>.headerbar nav div i{
    color: black;
    font-size: 25px; 
}
#headerdropdown>.headerbar nav ul {
    float: right; 
    width: 440px;
    margin-top: 3px; 
}
#headerdropdown>.headerbar nav ul li {
    display: inline-flex;
    width: 0.1%; 
    margin: 0; 
}
#headerdropdown>.headerbar nav ul li a{
    font-size: 12px;
}


/* Place Main ===============================*/
main.kanghwaMain { 
    position: relative; 
    top: 110px; 
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    min-width: 580px;  
}
main h2{
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    width: 90vw;
}

main section { 
    position: relative; 
    top: 50px; 
    left: 0;    
}

main section article {
    box-sizing: border-box;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
main section article:last-child{
    margin-bottom: 50px;
}

.locationPics {
   box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left; 
}
.locationDetail {
    width: 49%;
    height: 400px;
    float: right;  
}

.swiper-container,
.swiper-wrapper,
.swiper-wrapper div img{
    width: 100%;
    height: 100%; 
}
.swiper-pagination-bullet-active{
    background: rgb(22, 160, 133);
}
.swiper-button-next, 
.swiper-button-prev{
  background-image: none;
  text-align: center;
}
.swiper-button-next i,
.swiper-button-prev i {
    font-size: 2em; 
    color: rgb(22, 160, 133);
    
}

.locationDetail div {
    width: 100%; 
    height: 400px;
    padding: 4px;
    box-sizing: border-box;
    text-align: justify;
}
.locationDetail h3{
    padding: 10px 0;
     text-align: center;
     text-shadow: 1px 1px grey;
    color: rgb(22, 160, 133);
}
.locationDetail div p.locationType {
    border-bottom : 1px solid silver;
    margin-bottom: 10px;
}
.locationDetail div p:last-child {
    text-indent: 30px;  
}

.scroll {
    overflow-y: scroll;
    height: 400px;
}

.scroll::-webkit-scrollbar{
	width: 5px
        }
 
.scroll::-webkit-scrollbar-track {
	background: transparent;
        }
 
.scroll::-webkit-scrollbar-thumb {
	background: rgba(22, 160, 133, 0.2);
        }

footer button{
    position: fixed;
    right: 1%; 
    bottom: 15px;
    width: 33px; 
    height: 33px;   
    display: none;
}
footer button i {
    font-size: 2em;
    color: rgb(22, 160, 133);
}


/* history Main ===============================*/

#historyMain{
    width: 90vw; 
    min-width: 580px;
    height: 100vh;
    position: relative; 
    top: 110px;
    left: 50%;
    transform: translate(-50%);
}
#historyMain h2 {
    width: auto;
    left: 50%;
    transform: translate(-50%); 
}
#historyMain>article {
    float: left; 
    width: 70%;
    height: auto; 
    margin: 50px 0;
    padding: 10px;
    box-sizing: border-box;
     font-family: "Gamja Flower", cursive;
}
#historyMain>article h3 {
    color: rgb(22, 160, 133); 
    font-size: 2em; 
    margin: 6px 0;}
#historyMain>article p{
    margin: 6px 0;
    font-size: 1.3em;
}
#historyMain>article img{
    width: 100%;
    border: 5px double black;
    box-sizing: border-box;
    box-shadow: 3px 3px grey;
}
#historyMain aside ul li img{
    width: 100%;
}
#historyMain aside { 
    float: right; 
    width: 30%;
    height: auto; 
    margin: 50px 0;
    padding: 10px;
    box-sizing: border-box;
}

#historyMain aside ul li {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}


#historyMain aside ul li>div.over{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    transition: 0.3s;
    cursor: pointer;
}
#historyMain aside ul li>div i{
    color: white;
    font-size: 2.5em;
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    
}
#historyMain aside ul li>div p {
    position: absolute; 
    left: 0;
    bottom: -30%;
    background: black;
    width: 100%;
    height: 30%;
    color: white;
    padding: 6px 10px; 
    box-sizing: border-box;
    font-weight: bold;
    border-top: 3px groove;
    transition: 0.4s;
}

#historyMain aside ul li:hover div.over{visibility: visible;}
#historyMain aside ul li:hover div.over p{bottom:0;}


#historyMain aside ul li div.story {display: none;}


























