/*Reset*/
* {margin:0; padding:0;}
ul {list-style: none;}
button {border: none; background: none; cursor: pointer;}
a {text-decoration: none; color: black;}
    
/*Header menu*/
/*Todo: 본인이 선택한 지역으로 이미지 변경*/
.bg {

    background: url('../img/kanghwadoMain.jpg') no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
    position: relative; 
    top: 0;
    left: 0; 
} 
header {
    width: 90vw; 
    background-color: lightgray;
    position: absolute; 
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);        
}
header>div {width: 120px;}
header>div a {display:block; width: 100%;}
header>div i {
    font-size: 40px; 
    color: rgb(22, 160, 133);
    padding: 5px 10px;
}
header>div p{
    display: flex;
    width: 80px;   
    font-size: 20px;
    font-weight: bold;
    position: absolute; 
    top: 20px;
    left: 35px;  
}
header>div p>span {color: white;}
header>button {
    position: absolute; 
    right: 20px;
    top: 40%;
    font-size: 10px;
}


/*main menu*/
main { 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
main>div {width: 80px; margin-left: 50%;}
main>div>a {display: block; width: 100%;}
main>div i {
    font-size: 70px;
    color: rgb(22, 160, 133); 
    text-shadow: 2px 2px black;
    cursor: pointer;
    margin: 20px 0 ;
}
main>nav {width: 100vw;}
main>nav>ul {width: 100vw; display: flex; justify-content: center;}
main>nav>ul>li{
    padding: 6px 0;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    margin: 0 10px;     
}
main>nav>ul>li:nth-child(1){ 
    width: 220px;
    min-width: 150px; 
    background-color: rgb(142, 68, 173);}
main>nav>ul>li:nth-child(2){
    width: 100px; 
     min-width: 60px; 
    background-color: rgb(26, 188, 156);}
main>nav>ul>li:nth-child(3){
    width: 180px;
    min-width: 120px; 
    display: inline-block;
    justify-content: center;
    background-color: rgb(230, 126, 34)
}
main>nav>ul>li:nth-child(4){
    width: 150px;
    min-width: 90px; 
    display: inline-block;
    justify-content: center;
    background-color: rgb(52, 152, 219);
}
main>nav>ul>li>a{
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;        
}
